.menu,
#menu-layer,
.menu-item {
    margin: 0;
    padding: 0;
    user-select: none;
}

#menu-layer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.menu {
    position: fixed;
    display: inline-block;
    font-size: 1rem;
    background: #fff;
    border: solid 1px #444;
    border-radius: 2px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .3);
}

.menu.left {
    transform: translateX(-100%);
}

.menu.top {
    transform: translateY(-100%);
}

.menu-item {
    display: block;
    width: 100%;
    padding: .2em .5em;
    font-size: 1em;
    text-align: left;
    text-shadow: 0 1px 0 #fff;
    background: transparent;
    border: none;
    border-bottom: solid 1px #999;
    outline: none;
    cursor: pointer;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item:hover {
    background: rgba(200, 200, 200, .2);
}