.top {
    position: fixed;
    display: none;
    right: 20px;
    bottom: 30px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: #fff;
    border: solid 1px #666;
    box-shadow: 1px 1px 3px #444;
    cursor: pointer;
    z-index: 666;
}